Repository Ambiance-Enhancer/werewolves-ambiance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ambiance-Enhancer/dev, @Ambiance-Enhancer/infra, @Ambiance-Enhancer/backend, @Ambiance-Enhancer/frontend, @Ambiance-Enhancer/database, @Ambiance-Enhancer/test

.github/CODEOWNERS:

# Default owners for everything in the repo
* @Ambiance-Enhancer/dev

.github/ @Ambiance-Enhancer/infra
src/backend/ @Ambiance-Enhancer/backend
src/frontend/ @Ambiance-Enhancer/frontend
src/database/ @Ambiance-Enhancer/database
tests/ @Ambiance-Enhancer/test

chore(models.py): create game structure (#7)
  src/backend/core/.gitkeep
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

fix(models.py): fix linter feedbacks (#7)
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

add(cli + role distrib files)
  src/backend/api/.gitkeep
  src/backend/api/cli.py
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
  src/backend/core/game_engine.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/backend

fix(backend flake8 format)
  .github/workflows/lint.yaml
  src/backend/api/cli.py
  src/backend/core/game_engine.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/infra, @Ambiance-Enhancer/backend

fix(continue role and game models creation)
  src/backend/api/cli.py
  src/backend/core/game_engine.py
  src/backend/core/models.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/backend

fix(game creation + cli start)
  src/__init__.py
  src/__pycache__/__init__.cpython-313.pyc
  src/backend/__init__.py
  src/backend/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__init__.py
  src/backend/api/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/cli.cpython-313.pyc
  src/backend/api/cli.py
  src/backend/core/__init__.py
  src/backend/core/__pycache__/__init__.cpython-313.pyc
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
  src/backend/core/models.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/dev, @Ambiance-Enhancer/backend

Remove pycache files + add a .gitignore file
  .gitignore
  src/__pycache__/__init__.cpython-313.pyc
  src/backend/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/cli.cpython-313.pyc
  src/backend/core/__pycache__/__init__.cpython-313.pyc
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
Owners: @Ambiance-Enhancer/dev, @Ambiance-Enhancer/backend

add(cli + role distrib files)
  src/backend/api/.gitkeep
  src/backend/api/cli.py
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
  src/backend/core/game_engine.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/backend

fix(backend flake8 format)
  .github/workflows/lint.yaml
  src/backend/api/cli.py
  src/backend/core/game_engine.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/infra, @Ambiance-Enhancer/backend

fix(continue role and game models creation)
  src/backend/api/cli.py
  src/backend/core/game_engine.py
  src/backend/core/models.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/backend

fix(models.py): fix linter feedbacks (#7)
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

fix(game creation + cli start)
  src/__init__.py
  src/__pycache__/__init__.cpython-313.pyc
  src/backend/__init__.py
  src/backend/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__init__.py
  src/backend/api/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/cli.cpython-313.pyc
  src/backend/api/cli.py
  src/backend/core/__init__.py
  src/backend/core/__pycache__/__init__.cpython-313.pyc
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
  src/backend/core/models.py
  src/backend/core/role_distributor.py
Owners: @Ambiance-Enhancer/dev, @Ambiance-Enhancer/backend

chore(models.py): create game structure (#7)
  src/backend/core/.gitkeep
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

Quick test script
  src/backend/api/cli.py
Owners: @Ambiance-Enhancer/backend

Remove pycache files + add a .gitignore file
  .gitignore
  src/__pycache__/__init__.cpython-313.pyc
  src/backend/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/__init__.cpython-313.pyc
  src/backend/api/__pycache__/cli.cpython-313.pyc
  src/backend/core/__pycache__/__init__.cpython-313.pyc
  src/backend/core/__pycache__/models.cpython-313.pyc
  src/backend/core/__pycache__/role_distributor.cpython-313.pyc
Owners: @Ambiance-Enhancer/dev, @Ambiance-Enhancer/backend

Lint py files
  src/backend/api/functions.py
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

Refactor models.py
  src/backend/api/cli.py
  src/backend/api/functions.py
  src/backend/core/game.py
  src/backend/core/roles.py
Owners: @Ambiance-Enhancer/backend

Add unit testing
  src/backend/api/cli.py
  tests/conftest.py
  tests/core/test_game.py
  tests/core/test_roles.py
Owners: @Ambiance-Enhancer/backend, @Ambiance-Enhancer/test

Refacto game, players and interactions
  src/backend/api/functions.py
  src/backend/core/models.py
Owners: @Ambiance-Enhancer/backend

Add documentation
  src/backend/api/README.md
  src/backend/core/README.md
  tests/core/README.md
Owners: @Ambiance-Enhancer/backend, @Ambiance-Enhancer/test

Fix lover seen dead by night + add custom output message
  src/backend/api/functions.py
  src/backend/core/game.py
  src/backend/core/roles.py
Owners: @Ambiance-Enhancer/backend
